name: CI - PR Checks

on:
  push:
    branches:
      - main
      - dev  
    paths:
      - ./**.md
      - .github/workflows/ci-pr-checks.yaml
      - .github/actions/markdown-link-checker/action.yaml
  pull_request:
    branches:
      - main
      - dev
    paths:
      - ./**.md
      - .github/workflows/ci-pr-checks.yaml
      - .github/actions/markdown-link-checker/action.yaml
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: warning about ignored paths
        run: |
          echo "Warning! Some paths are ignored in the markdown link checker config.
          This is because those websites have strong anti-scraping behaviours. For
          the full list of ignored paths, see the .markdownlinkcheck.json file:"
          cat .markdownlinkcheck.json

      - name: Run markdown link checker
        uses: ./.github/actions/markdown-link-checker
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
